body{
    background-color: #fff;
}

.main {
    height: 100vh;
    display: flex;
}

.main__left {
    flex: 0.8;
    display: flex;
    flex-direction: column;
}


.main__right {
    flex: 0.2;
    background-color:#ffffff;
    border-left: 2px solid #856bfa;
    display: flex;
    flex-direction: column;
}

.main__videos {
    flex-grow: 1;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    overflow-y: auto;
}

 #video-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    padding: 5px 0px;
 }

 #video-grid video {
    height: 250px;
    width: 350px;
    object-fit: cover;
    padding: 0;
    margin: 5px;
    border-radius: 15px;
    border: 4px solid #6644fd;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

 }

 #video-grid video:hover {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
 }

.main__controls {
    background-color: #6644fd;
}

.main__controls {
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.main__controls__block {
    display: flex;
}

.main__controls__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    min-width: 80px;
    cursor: pointer;
}

.main__controls__button:hover {
    background-color: #343434;
    border-radius: 5px;
}

.main__controls__button i {
    font-size: 24px;
}

.main__header {
    padding-top: 5px;
    color: #ffffff;
    background-color: #6644fd;
    text-align: center;
}

.main__chat_window {
    flex-grow: 1;
    overflow-y: auto;
}

.messages{
    color: #6644fd;
    list-style: none;
}

.main__message_container {
    padding: 22px 12px;
    display: flex;
}

.main__message_container input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    color: #6644fd;
}

.leave_meeting {
    color: #ffffff;
    text-decoration: none;
}

.main__controls__block a:hover {
    color:#c20b66;
    text-decoration:none;
   }
   

.unmute, .stop {
    color: #CC3B33;
    color: #c20b66;

}

